<div class="create-dialog">
<div class="container">
  <form [formGroup]="projectForm">
    <p>Create Project</p>
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>
      <p>Please Provide Details</p>
      <p>
        <mat-form-field>
        <input matInput  formControlName="name"  placeholder="Project Title">
      </mat-form-field>
      </p>
      
      <p>
      <mat-form-field>
        <input matInput placeholder="Description" >
      </mat-form-field>
      </p>
      
      <p>
      <mat-form-field>
        <input matInput placeholder="clientName" >
      </mat-form-field>
      </p>
      
      <p>
      <mat-form-field>
        <input matInput  placeholder="client Email">
      </mat-form-field>
      </p>
      
      <p>
      <mat-form-field>
        <input matInput placeholder="Client Contact Person" >
      </mat-form-field>
      </p>
    
      <p>
      <mat-form-field>
        <input matInput placeholder="Client Contact Name ">
      </mat-form-field>
      </p>
    
      <p>
      <mat-form-field>
        <input matInput placeholder="Client Location">
      </mat-form-field>
      </p>
    
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button cdkFocusInitial>Ok</button>
    </div>
    </form>
</div>

</div>