<p>project-create works!</p>
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <p>Please Provide Details</p>
  <mat-form-field>
    <input matInput placeholder="Project Title">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="clientName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="client Email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Client Contact Person">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Client Contact Name ">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Client Location">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>