<p>Welcome To Migration</p>
<!--ul class="breadcrumb">
    <li><a href="/projects">Projects Home</a></li>
    <li><a routerLink="/migration-mgmt/param-list">Parameter List</a></li>
    <li><a routerLink="/migration-mgmt/param-mgr-list">Parameter Mapping List</a></li>
  </ul-->
<div class="tab">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Parameter List" (click)="setTab('param-list')"><app-paramter-list></app-paramter-list></mat-tab>
        <mat-tab label="Parameter Mapping List" (click)="setTab('param-mgr-list')">
          <app-paramter-migration-list></app-paramter-migration-list>
        </mat-tab>
      </mat-tab-group>

    <!--button class="tablinks" routerLink="/projects/tab1">Tab 1</button>
    <button class="tablinks" routerLink="/projects/tab2">Tab 2</button-->
</div>

<router-outlet></router-outlet>