<h3>Edit App Details</h3>
<div class="create-dialog">
  <div class="container">
    <mat-card-content class="">
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="Email">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Role</mat-label>
          <input matInput placeholder="Role">
        </mat-form-field>
      </p>
  
    
        <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()">No Thanks</button>
          <button mat-button cdkFocusInitial>Ok</button>
        </div>
      
    </mat-card-content>
  </div>
  
</div>